.navbar .nav-link {
    color: black !important; 
    font-weight: 350;

}

.navbar-style-1 {
    box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.25);
    padding: 10px;
    min-width: 100%;
    margin-bottom: 20px;
}

.set-right {
    text-align: right;
    justify-content: end;
    
}