.navbar .nav-link {
    color: #fff !important; 
    display: inline-block;

  }

.navbar-style-1 {
  box-shadow: 10px 10px 5px rgba(5, 5, 5, 0.25);
  width: 100%;
  padding: 10px;
  min-width: 100%;
  background-color: #5D6D7E;
}